.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $white;
  &__logo {
    text-align: center;
    &--img {

    }
  }
}

@include adaptive(laptop){

}

@include adaptive(tablet){

}

@include adaptive(mobile){

}