body.show-scc-navbar {
  //@media(max-width:991px) {
    overflow: hidden!important;
  //}
  .navbar__wrap {
    .navbar__collapse{
      opacity: 1;
      pointer-events: inherit;
    }
    .navbar__bg {
      //@media(max-width:991px) {
        visibility: visible;
      //}
      &:before {
        width: 300vmax;
        height: 300vmax;
        bottom: -150vmin;
        right: -150vmin;
      }
    }
  }
}

.navbar {
  &__wrap {
    box-shadow: 0 5px 39px rgba(115, 136, 151, 0.15);
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99997;
    display: block;
    //overflow: hidden;
    overflow: visible;
    //-webkit-overflow-scrolling: touch;
  }
  &__container {
    position: relative;
  }
  &__header {
    display: flex;
    align-items: center;
    min-height: 71px;
  }
  &__btn {
    border-radius: 45px;
    display: flex;
    line-height: 40px;
    font-size: 14px;
    color: $white;
    padding: 0 20px;
    outline: none;
    text-decoration: none;
    transition: 0.3s all;
    &--red {
      background: $brand-blue;
      box-shadow: 0px 5px 10px rgba(195, 15, 15, 0.2);
    }
    &:hover {
      opacity: 0.75;
    }
  }
  &__step {
    display: flex;
    align-items: center;
    opacity: 0.3;
    &--active {
      opacity: 1;
    }
    &--arrow {
      margin-left: 7px;
      margin-right: 7px;
    }
    &--number {
      background-color: $brand-black;
      width: 23px;
      height: 23px;
      border-radius: 23px;
      line-height: 23px;
      margin-right: 10px;
      text-align: center;
      font-size: 13px;
      color: $white;
      cursor: default;
    }
    &--text {
      font-size: 13px;
      line-height: 16px;
      border-bottom: 1px solid $brand-black;
      cursor: default;
    }
  }
  &__brand {
    line-height: 77px;
    height: 77px;
    img {
      height: 51px;
    }
  }
  &__bg{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    &:before {
      content: "";
      outline: none;
      display: block;
      position: absolute;
      z-index: 1;
      background-color: #fff;
      border-radius: 100%;
      transition: all 0.45s;
      bottom: 28px;
      right: 20px;
      width: 40px;
      height: 40px;
    }
    &--fix {

    }
  }
  &__collapse {
    //display: block;
    //text-align: right;
    //height: 77px;
    //margin: 0 -15px;
      display: none;
      position: fixed;
      height: unquote("calc(100% - 71px)");
      z-index: 1000;
      overflow: auto;
      padding: 25px 25px 25px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 77px;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s  ease;
      text-align: left;
    //background-image: url(../../img/logo-full.svg);
    //background-attachment: local;
    //background-repeat: no-repeat;
    //background-position: 50% 10px;
    //background-size: auto 160px;
    //-webkit-overflow-scrolling: touch;
  }
  &__logo {
    height: 160px;
    display: block;
    margin: 0 auto 50px;
  }
  &__menu {
    //display: inline-block;
    float: none;
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //min-height: 100%;

    //flex-wrap: wrap;
    //flex-direction: row;
    //-webkit-overflow-scrolling: touch;
  }
  &__item {
    text-align: center;
    float: none;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    &--btn {
      margin-bottom: 40px;
    }
    a {
      text-decoration: none;
    }
  }
  &__burger {
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    //width: 24px;
    //height: 18px;
    width: 28px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    &:not(.collapsed) {
      span {
        background-color: $brand-black;
        &:nth-child(1) {
          top: 9px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 9px;
          transform: rotate(-45deg);
        }
      }
    }
    span {
      position: absolute;
      left: 0;
      width: 24px;
      height: 4px;
      background-color: $brand-black;
      transition: all 500ms ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 7px;
      }
      &:nth-child(3) {
        top: 14px;
      }
    }
  }
}