$black: #272646;
$black-default: #000;
$white-default: #fff;

$grey: #dcdced;
$main-grey: #f0f3f5;
$grey-light: #bfbec8;
$black-middle: #323841;

$brand-color: #4d49be;
$brand-light: #f0f0ff;
$dark-brand: #272646;
$brand-green: #70e0a3;
$brand-red: #BE4D49;

$telegram-color: #279bd3;
$viber-color: #784f97;
$whatsup-color: #30d14e;