$black: #000;
$white: #fff;

$brand-green: #0EC69A;
$brand-blue: #2A2C57;
$brand-red: #E24343;
$brand-yellow: #F2C94C;

$text-white: fade-out($white, 0.2);
$text-blue: fade-out($brand-blue, 0.2);
$text-green: fade-out($brand-green, 0.2);

$light: 300;
$regular: 400;
$normal: 400;
$medium: 500;
$semi-bold:600;
$demi-bold: 600;
$bold: 700;


$telegram-color: #279bd3;
$viber-color: #784f97;
$whatsup-color: #30d14e;