.alert {
  padding: 25px 0;
  border-radius: 2px;
  &--green {
    background-color: $brand-green;
  }
  &--blue {
    background-color: $brand-blue;
    box-shadow: 0px 10px 30px rgba(42, 44, 87, 0.4);
  }
  &__icon {
    margin-right: 15px;
  }
  .text:not(:last-child) {
    margin-bottom: 5px;
  }
}