.default-checkbox {
  //position: absolute;
  //opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  padding: 0;
  top: 0;
  left: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    //border: 2px solid fade-out($brand-blue,0.8);
    border: 2px solid #d4d5dd;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  &:checked{
    &~label {
      color: $brand-black;
    }
    &:before {
      background-color: $brand-black;
      background-image: url("../../img/icon_check.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  //&:checked ~ .default-checkbox__mark {
  //  background-color: $brand-green;
  //  background-image: url("../../img/icon_check.svg");
  //  background-repeat: no-repeat;
  //  background-position: 50% 50%;
  //}
  .help-block {

  }
  &__container {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.has-error {
      .default-checkbox:before {
        border-color: $brand-red;
      }
    }
    &--label {
      width: 100%;
      display: flex;
      align-items: center;
      label {
        margin-left: 35px;
        font-size: 16px;
        line-height: 19px;
        color: $text-blue;
        cursor: pointer;
      }
    }
  }
  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid fade-out($brand-black,0.8);
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 5px;
  }
}