.form-group {
  margin-bottom: 20px;
  &.has-error {
    .form-control {
      border-color: $brand-red!important;
    }
  }
  &.has-success {
    .form-control {
      border-color: $brand-green!important;
    }
  }
  .help-block {
    margin-top: 4px;
    font-size: 14px;
    line-height: 19px;
    &-error {
      color: $brand-red;
    }
  }
  .control-label {
    font-size: 16px;
    line-height: 19px;
    color: $text-blue;
    display: block;
    margin-bottom: 10px;
  }
  .form-control {
    border: 2px solid fade-out($brand-blue, 0.8);
    padding: 0 25px;
    line-height: 50px;
    outline: none;
    border-radius: 30px;
    color: $brand-blue;
    font-size: 16px;
    width: 100%;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    -webkit-appearance: none;
    appearance: none;
    &::placeholder {
      color: fade-out($brand-blue, 0.5);
    }
  }
}
.login-layout {

}