.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $white;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  padding: 30px 25px;
  margin-bottom: 20px;
  &--green {
    background-color: $brand-green;
  }
  &--center {
    justify-content: center;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__content {

  }
  &__img {
    margin-bottom: 25px;
  }
  &__title {
    margin-bottom: 2px;
  }
  &__desc {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 17px;
  }
}