.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .3s ease;
  display: none;
  &--success {
    .modal__success {
      opacity: 1;
      height: 100%;
      transition: .3s opacity;
    }
  }
  &__success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $brand-green;
    width: 100%;
    height: 0%;
    &--img {
      margin-bottom: 25px;
    }
  }
  &__open {
    overflow: hidden;
  }
  &__wrapper {
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &__container {
    width: 600px;
    max-width: 90%;
    margin: 0px auto;
    padding: 60px 30px 70px 30px;
    background-color: $white;
    border-radius: 5px;
    transition: all .3s ease;
    position: relative;
    text-align: center;
  }
  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: fade-out($brand-blue, 0.9);
    width: 40px;
    height: 40px;
    background-image: url(../../img/icon_close_modal.svg);
    //background-size: 19px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    border-radius: 40px;
    &:hover {
      opacity: .5;
    }
  }
  &__img {
    margin-bottom: 25px;
  }
  &__title {

  }
  &__header {
    margin-bottom: 25px;
  }
  &__body {

  }
  .default-select {
    margin-bottom: 15px;
  }
  .spinner {
    margin-top: 15px;
  }
  .blockquotes {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .main-btn {
    height: 70px;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}