.card {
  &__wrap {

  }
  &__table {
    background: $white;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    border-bottom: 1px solid fade-out($brand-blue,0.9);
    padding: 20px 0;
    &--left {
      min-height: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--empty {
      justify-content: center;

      border: 2px solid $brand-blue;
      border-radius: 5px;
    }
    &--total {
      .card__item--left {
        min-height: 50px;
      }
    }
  }
  &__text {
    font-size: 14px;
    line-height: 17px;
  }
  &__delete {
    display: block;
    text-decoration: none;
    outline: none;
    background-image: url(../../img/icon_delete.svg);

    margin-left: 15px;
    width: 19px;
    height: 19px;

    background-size: 13px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}