.confirm-supplier {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: unquote("calc(100vh - 87px - 71px)");;
  &>* {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__container {
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
    background-color: $brand-green;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__img {

  }
}
