.on-way {
  @include heigth100vh();
  &__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 20px;
    &--small {
      font-size: 13px;
      line-height: 16px;
      margin-top: 10px;
    }
  }
  &__img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
  }
  .card__item--total .card__item--left {
    min-height: 25px;
  }
}