.order {
  padding-top: 50px;
  &__form {

  }
  .sub-title {
    margin-bottom: 20px;
  }
  .sub-text.m35 {
    margin-bottom: 35px;
  }
  .item__wrap {
    margin-bottom: 20px;
  }
  .card__wrap {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .main-btn {
    margin-left: unset;
    margin-right: unset;
  }
}