.supplier-cab {
  min-height: unquote("calc(100vh - 87px - 96px)");
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__username {

  }
  &__text {
    font-size: 14px;
    line-height: 17px;
  }
  &__line {
    width: 1px;
    background-color: fade-out($brand-black, 0.9);
  }
  &__monthly {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &--text {
      font-size: 29px;
      line-height: 35px;
    }
    &--left {
      display: flex;
      //flex-direction: column;
      align-items: center;
      &>:first-child {
        margin-right: 10px;
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
  &__map {
    width: 100%;
    max-width: 400px;
    margin: 5px auto 15px;
    display: block;
  }
  &__table {
    width: 100%;
    text-align: left;
    border: 1px solid fade-out($brand-black,0.9);
    padding: 0 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    @media(max-width:767px) {
      //padding: 0 5px;
    }
    th {
      line-height: 50px;
    }
    tr:not(.supplier-cab__table--content) {
      td {
        border-top: 1px solid fade-out($brand-black,0.9);
        line-height: 50px;
      }
    }
    &-content {
      background-color: fade-out($brand-black,0.9);
      padding: 20px;
      display: none;
      &--title {
        margin-bottom: 10px;
      }
    }
  }
  .stars {
    margin-top: 5px;
    margin-bottom: 0;
    img {
      width: 15px;
    }
  }
  .card {
    &__wrap {
      background-color: $white;
      border-radius: 10px;
      margin: 8px 20px 15px;
      padding: 0 20px;
      @media(max-width:767px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__item {
      min-height: 50px;
    }
  }
}