h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: $black;
  outline: none;
  //cursor: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

img {
  vertical-align: middle;
}

.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}

textarea{
  scrollbar-color: #bab8dc #f0f0ff;
  scrollbar-width: thin;
}
textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #f0f0ff; }

textarea::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #bab8dc; }

@include adaptive(md) {

}

@include adaptive(sm) {

}
